{
  "rules": {
    // these rules seem to be used as the common pattern for looping elements in playwright
    "no-restricted-syntax": ["off", "ForOfStatement"],
    "no-await-in-loop": "off",
  },
}
