@use '../../ThemeProviderSCSSModules/fontSizes.module.scss' as fontSizes;

.h2 {
  font-family: var(--sans-bold-font-family);
  font-style: var(--sans-bold-font-style);
  font-weight: var(--sans-bold-font-weight);
  @include fontSizes.gel-font-size(doublePica, groupA);
  color: var(--grey-10);
}

a {
  display: inline-block;
  color: var(--grey-10);
  text-decoration: none;
}

span {
  display: inline-block;
  position: relative;
}

a:visited {
  color: var(--grey-10);
}

a:hover,
a:focus {
  color: var(--postbox);
}

a:hover span,
a:focus span {
  text-decoration: underline;
}

svg {
  margin-inline-start: 0.5rem;
  fill: currentColor;
  width: (14 / 16) * 1rem;
  height: (14 / 16) * 1rem;
  position: relative;
}
