@use '@scss/themeTokens' as theme;

.h2 {
  @include theme.fontVariants-gel-font-variant('sans-bold');
  @include theme.fontSizes-gel-font-size(doublePica);
  color: theme.$palette-grey-10;

  a {
    display: inline-block;
    color: theme.$palette-grey-10;
    text-decoration: none;
  }

  span {
    display: inline-block;
    position: relative;
  }

  a:visited {
    color: theme.$palette-grey-10;
  }

  a:hover, a:focus {
    color: theme.$palette-postbox;

    span {
      text-decoration: underline;
    }
  }

  svg {
    margin-inline-start: 0.5rem;
    fill: currentColor;
    width: calc(14 / 16) * 1rem;
    height: calc(14 / 16) * 1rem;
    position: relative;
  }
}


