# Order is important. The last matching pattern has the most precedence.
# Protected files
**/*webpack*    @jamesdonoh @sareh @hindsc52 @jblaut @jroebu14 @ryanmccombe @craigkj 
/envConfig/     @jamesdonoh @sareh @hindsc52 @jblaut @jroebu14 @ryanmccombe @craigkj
Jenkinsfile     @jamesdonoh @sareh @hindsc52 @craigkj
**/*CODEOWNERS* @bbc/simorgh-admins
