version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
    ignore:
      - dependency-name: '@bbc/*'
        update-types: ['version-update:semver-major']
      - dependency-name: '@loadable/*'
        update-types: ['version-update:semver-major']
      - dependency-name: 'webpack'
        update-types: ['version-update:semver-major']
      - dependency-name: 'winston'
      - dependency-name: eslint
        update-types: ['version-update:semver-major']
      # Opera Mini unsupported packages
      - dependency-name: 'uuid' # https://github.com/bbc/simorgh/pull/11840
      - dependency-name: '@types/uuid' # https://github.com/bbc/simorgh/pull/11840
    labels:
      - 'dependencies'
    groups:
      babel:
        patterns:
          - '@babel/*'
          - 'babel-*'
      emotion:
        patterns:
          - '@emotion/*'
      next:
        patterns:
          - '@next/*'
          - 'next'
          - 'next-*'
      storybook:
        patterns:
          - '@storybook/*'
          - 'storybook'
      bbc-minor-patch:
        patterns:
          - '@bbc/*'
      loadable-minor-patch:
        patterns:
          - '@loadable/*'
      webpack-minor-patch:
        patterns:
          - 'webpack'
          - 'webpack-*'
