**/.DS_Store
npm-debug.log*
build
node_modules
coverage
reports/*
!reports/.keep
log
cypress/screenshots
cypress/results
pack
storybook_dist
simorgh.report.html
simorgh.report.json
cypress/integration/123PlaygroundForTests/*