$font-base-url: 'https://static.files.bbci.co.uk/ws/simorgh-assets/public';
$reith-base-url: 'https://static.files.bbci.co.uk/fonts/';
$reith-fonts-dir: $reith-base-url + 'reith/r2.512/';
$reith-qalam-fonts-dir: $reith-base-url + 'reith-qalam/1.310/';
