@use './fontBaseUrl.module.scss' as fontUrl;

@font-face {
  font-family: 'Noto Sans Tamil';
  font-weight: 700;
  font-style: normal;
  src:
    url('#{fontUrl.$font-base-url}/fonts/NotoSansTamil/v1.00/bold.woff2') format('woff2'),
    url('#{fontUrl.$font-base-url}/fonts/NotoSansTamil/v1.00/bold.woff') format('woff'),
    url('#{fontUrl.$font-base-url}/fonts/NotoSansTamil/v1.00/normal.eot') format('eot'),
    url('#{fontUrl.$font-base-url}/fonts/NotoSansTamil/v1.00/bold.ttf') format('ttf');
  font-display: swap;
}
