@use './fontBaseUrl.module.scss' as fontUrl;

@font-face {
  font-family: 'Noto Sans Telugu';
  font-weight: 400;
  font-style: normal;
  src:
    url('#{fontUrl.$font-base-url}/fonts/NotoSansTelugu/v1.00/normal.woff') format('woff'),
    url('#{fontUrl.$font-base-url}/fonts/NotoSansTelugu/v1.00/normal.eot') format('eot'),
    url('#{fontUrl.$font-base-url}/fonts/NotoSansTelugu/v1.00/normal.ttf') format('ttf');
  font-display: swap;
}
