@font-face {
  font-family: 'Noto Sans Ethiopic';
  font-weight: 700;
  font-style: normal;
  src:
    url('https://ws-downloads.files.bbci.co.uk/fonts/NotoSansEthiopic/v1.901/bold.woff')
      format('woff'),
    url('https://ws-downloads.files.bbci.co.uk/fonts/NotoSansEthiopic/v1.901/bold.eot')
      format('eot'),
    url('https://ws-downloads.files.bbci.co.uk/fonts/NotoSansEthiopic/v1.901/bold.ttf')
      format('ttf');
  font-display: swap;
}
