@use './fontBaseUrl.module.scss' as fontUrl;

@font-face {
  font-family: 'Padauk';
  font-weight: 700;
  font-style: normal;
  src:
    url('#{fontUrl.$font-base-url}/fonts/Padauk/v2.8/bold.woff') format('woff'),
    url('#{fontUrl.$font-base-url}/fonts/Padauk/v2.8/bold.eot') format('eot'),
    url('#{fontUrl.$font-base-url}/fonts/Padauk/v2.8/bold.ttf') format('ttf');
  font-display: swap;
}
