@use './fontBaseUrls.module.scss' as fontUrls;

@font-face {
  font-family: 'Padauk';
  font-weight: 400;
  font-style: normal;
  src:
  url('#{fontUrls.$font-base-url}/fonts/Padauk/v2.8/normal.woff') format('woff'),
  url('#{fontUrls.$font-base-url}/fonts/Padauk/v2.8/normal.eot') format('eot'),
  url('#{fontUrls.$font-base-url}/fonts/Padauk/v2.8/normal.ttf') format('ttf');
  font-display: swap;
}
