@font-face {
  font-family: 'Padauk';
  font-weight: 700;
  font-style: normal;
  src:
    url('https://ws-downloads.files.bbci.co.uk/fonts/Padauk/v2.8/bold.woff')
      format('woff'),
    url('https://ws-downloads.files.bbci.co.uk/fonts/Padauk/v2.8/bold.eot')
      format('eot'),
    url('https://ws-downloads.files.bbci.co.uk/fonts/Padauk/v2.8/bold.ttf')
      format('ttf');
  font-display: swap;
}
