@font-face {
  font-family: 'ReithSans';
  src:
    url('https://static.files.bbci.co.uk/fonts/reith/r2.512/BBCReithSans_W_LtIt.woff2')
      format('woff2'),
    url('https://static.files.bbci.co.uk/fonts/reith/r2.512/BBCReithSans_W_LtIt.woff')
      format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: optional;
}
