@use './fontBaseUrls.module.scss' as fontUrl;

@font-face {
  font-family: 'ReithSansCd';
  src:
  url('#{fontUrls.$reith-fonts-dir}BBCReithSansCd_W_Rg.woff2') format('woff2'),
  url('#{fontUrls.$reith-fonts-dir}BBCReithSansCd_W_Rg.woff') format('woff');
  font-weight: 400;
  font-display: optional;
}
