@font-face {
  font-family: 'ReithSerif';
  src:
    url('https://static.files.bbci.co.uk/fonts/reith/r2.512/BBCReithSerif_W_ExBd.woff2')
      format('woff2'),
    url('https://static.files.bbci.co.uk/fonts/reith/r2.512/BBCReithSerif_W_ExBd.woff')
      format('woff');
  font-weight: 800;
  font-display: optional;
}
