@use './fontBaseUrls.module.scss' as fontUrl;

@font-face {
  font-family: 'ReithSans';
  src:
  url('#{fontUrls.$reith-fonts-dir}BBCReithSans_W_LtIt.woff2') format('woff2'),
  url('#{fontUrls.$reith-fonts-dir}BBCReithSans_W_LtIt.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: optional;
}
