@use './fontBaseUrl.module.scss' as fontUrl;

@font-face {
  font-family: 'ReithSans';
  src:
    url('#{fontUrl.$reith-fonts-dir}BBCReithSans_W_Lt.woff2') format('woff2'),
    url('#{fontUrl.$reith-fonts-dir}BBCReithSans_W_Lt.woff') format('woff');
  font-weight: 300;
  font-display: optional;
}
