@font-face {
  font-family: 'ReithSerif';
  src:
    url('https://static.files.bbci.co.uk/fonts/reith/r2.512/subsets/BBCReithSerif_WNumbers_Lt.woff2')
      format('woff2'),
    url('https://static.files.bbci.co.uk/fonts/reith/r2.512/subsets/BBCReithSerif_WNumbers_Lt.woff')
      format('woff');
  font-weight: 300;
  font-display: optional;
}
