@font-face {
  font-family: 'ReithSansCondensed';
  src:
    url('https://static.files.bbci.co.uk/fonts/reith/r2.512/BBCReithSansCd_W_Rg.woff2')
      format('woff2'),
    url('https://static.files.bbci.co.uk/fonts/reith/r2.512/BBCReithSansCd_W_Rg.woff')
      format('woff');
  font-display: optional;
}
