@import '../../palette.module.scss';

:root {
	--brand-background: #{$postbox};
	--brand-logo: #{$white};
	--brand-foreground: #{$ghost};
	--brand-highlight: #{$white};
	--brand-border: #{$postbox-30};
}
