:root {
  --group-0-max-width: 14.9375rem;
  --group-1-min-width: 15rem;
  --group-1-max-width: 24.9375rem;
  --group-2-min-width: 25rem;
  --group-2-max-width: 37.4375rem;
  --group-3-min-width: 37.5rem;
  --group-3-max-width: 62.9375rem;
  --group-4-min-width: 63rem;
  --group-4-max-width: 79.9375rem;
  --group-5-min-width: 80rem;
}
