:root {
  --sans-regular-font-family: Helvetica, Arial, STHeiti, 华文黑体, 'Microsoft YaHei', 微软雅黑, SimSun, 宋体;
  --sans-regular-font-style: normal;
  --sans-regular-font-weight: 400;
  --sans-bold-font-family: Helvetica, Arial, STHeiti, 华文黑体, 'Microsoft YaHei', 微软雅黑, SimSun, 宋体;
  --sans-bold-font-style: normal;
  --sans-bold-font-weight: 700;
}
