:root {
  --sans-regular-font-family: Helmet, Freesans, Helvetica, Arial, sans-serif;
  --sans-regular-font-style: normal;
  --sans-regular-font-weight: 400;
  --sans-regular-italic-font-family: Helmet, Freesans, Helvetica, Arial, sans-serif;
  --sans-regular-italic-font-style: italic;
  --sans-regular-italic-font-weight: 400;
  --sans-bold-font-family: Helmet, Freesans, Helvetica, Arial, sans-serif;
  --sans-bold-font-style: normal;
  --sans-bold-font-weight: 700;
  --sans-bold-italic-font-family: Helmet, Freesans, Helvetica, Arial, sans-serif;
  --sans-bold-italic-font-style: italic;
  --sans-bold-italic-font-weight: 700;
}
