:root {
  --sans-regular-font-family: 'Hiragino Kaku Gothic Pro', 'ﾋﾗギﾉ角ゴPro W3', 'MS PGothic', 'MS UI Gothic', Helvetica, Arial, sans-serif;
  --sans-regular-font-style: normal;
  --sans-regular-font-weight: 400;
  --sans-bold-font-family: 'Hiragino Kaku Gothic Pro', 'ﾋﾗギﾉ角ゴPro W3', 'MS PGothic', 'MS UI Gothic', Helvetica, Arial, sans-serif;
  --sans-bold-font-style: normal;
  --sans-bold-font-weight: 700;
}
