:root {
  --sans-regular-font-family: 'Apple SD Gothic Neo', AppleGothic, 'Malgun Gothic', Dotum, 'Noto Sans CJK KR', sans-serif;
  --sans-regular-font-style: normal;
  --sans-regular-font-weight: 400;
  --sans-bold-font-family: 'Apple SD Gothic Neo', AppleGothic, 'Malgun Gothic', Dotum, 'Noto Sans CJK KR', sans-serif;
  --sans-bold-font-style: normal;
  --sans-bold-font-weight: 700;
}
