:root {
  --sans-regular-font-family: 'ReithSans', Helvetica, Arial, sans-serif;
  --sans-regular-font-style: normal;
  --sans-regular-font-weight: 400;
  --sans-bold-font-family: 'ReithSans', Helvetica, Arial, sans-serif;
  --sans-bold-font-style: normal;
  --sans-bold-font-weight: 700;
  --serif-medium-font-family: 'ReithSerif', Helvetica, Arial, sans-serif;
  --serif-medium-font-style: normal;
  --serif-medium-font-weight: 500;
  --serif-light-font-family: 'ReithSerif', Helvetica, Arial, sans-serif;
  --serif-light-font-style: normal;
  --serif-light-font-weight: 300;
}
