:root {
  --sans-regular-font-family: 'Noto Sans Telugu', 'Hind Guntur', Gautami, 'Kohinoor Telugu', sans-serif;
  --sans-regular-font-style: normal;
  --sans-regular-font-weight: 400;
  --sans-bold-font-family: 'Noto Sans Telugu', 'Hind Guntur', Gautami, 'Kohinoor Telugu', sans-serif;
  --sans-bold-font-style: normal;
  --sans-bold-font-weight: 700;
}
