:root {
  --sans-regular-font-family: Tahoma, Helmet, freesans, Helvetica, Arial, sans-serif;
  --sans-regular-font-style: normal;
  --sans-regular-font-weight: 400;
  --sans-bold-font-family: Tahoma, Helmet, freesans, Helvetica, Arial, sans-serif;
  --sans-bold-font-style: normal;
  --sans-bold-font-weight: 700;
}
