:root {
  --atlas-group-a-font-size: 78;
  --atlas-group-a-line-height: 84;
  --atlas-group-b-font-size: 96;
  --atlas-group-b-line-height: 104;
  --atlas-group-d-font-size: 140;
  --atlas-group-d-line-height: 148;

  --elephant-group-a-font-size: 60;
  --elephant-group-a-line-height: 64;
  --elephant-group-b-font-size: 78;
  --elephant-group-b-line-height: 84;
  --elephant-group-d-font-size: 116;
  --elephant-group-d-line-height: 124;

  --imperial-group-a-font-size: 50;
  --imperial-group-a-line-height: 54;
  --imperial-group-b-font-size: 64;
  --imperial-group-b-line-height: 78;
  --imperial-group-d-font-size: 96;
  --imperial-group-d-line-height: 116;

  --royal-group-a-font-size: 40;
  --royal-group-a-line-height: 44;
  --royal-group-b-font-size: 52;
  --royal-group-b-line-height: 64;
  --royal-group-d-font-size: 76;
  --royal-group-d-line-height: 92;

  --foolscap-group-a-font-size: 32;
  --foolscap-group-a-line-height: 36;
  --foolscap-group-b-font-size: 40;
  --foolscap-group-b-line-height: 48;
  --foolscap-group-d-font-size: 56;
  --foolscap-group-d-line-height: 68;

  --canon-group-a-font-size: 28;
  --canon-group-a-line-height: 36;
  --canon-group-b-font-size: 32;
  --canon-group-b-line-height: 42;
  --canon-group-d-font-size: 44;
  --canon-group-d-line-height: 58;

  --trafalgar-group-a-font-size: 22;
  --trafalgar-group-a-line-height: 28;
  --trafalgar-group-b-font-size: 24;
  --trafalgar-group-b-line-height: 32;
  --trafalgar-group-d-font-size: 32;
  --trafalgar-group-d-line-height: 42;

  --paragon-group-a-font-size: 20;
  --paragon-group-a-line-height: 26;
  --paragon-group-b-font-size: 22;
  --paragon-group-b-line-height: 30;
  --paragon-group-d-font-size: 28;
  --paragon-group-d-line-height: 38;

  --double-pica-group-a-font-size: 18;
  --double-pica-group-a-line-height: 24;
  --double-pica-group-b-font-size: 20;
  --double-pica-group-b-line-height: 26;
  --double-pica-group-d-font-size: 24;
  --double-pica-group-d-line-height: 32;

  --great-primer-group-a-font-size: 18;
  --great-primer-group-a-line-height: 22;
  --great-primer-group-b-font-size: 18;
  --great-primer-group-b-line-height: 22;
  --great-primer-group-d-font-size: 20;
  --great-primer-group-d-line-height: 24;

  --body-copy-group-a-font-size: 15;
  --body-copy-group-a-line-height: 20;
  --body-copy-group-b-font-size: 16;
  --body-copy-group-b-line-height: 22;
  --body-copy-group-d-font-size: 16;
  --body-copy-group-d-line-height: 22;

  --pica-group-a-font-size: 15;
  --pica-group-a-line-height: 20;
  --pica-group-b-font-size: 16;
  --pica-group-b-line-height: 20;
  --pica-group-d-font-size: 16;
  --pica-group-d-line-height: 20;

  --long-primer-group-a-font-size: 15;
  --long-primer-group-a-line-height: 20;
  --long-primer-group-b-font-size: 15;
  --long-primer-group-b-line-height: 20;
  --long-primer-group-d-font-size: 14;
  --long-primer-group-d-line-height: 18;

  --brevier-group-a-font-size: 14;
  --brevier-group-a-line-height: 18;
  --brevier-group-b-font-size: 14;
  --brevier-group-b-line-height: 18;
  --brevier-group-d-font-size: 13;
  --brevier-group-d-line-height: 16;

  --minion-group-a-font-size: 12;
  --minion-group-a-line-height: 16;
  --minion-group-b-font-size: 12;
  --minion-group-b-line-height: 16;
  --minion-group-d-font-size: 12;
  --minion-group-d-line-height: 16;
}
