// gridWidths.scss
// SCSS variables for grid widths, matching gridWidths.ts
@use './px-to-rem' as *;

$grid-width-240: px-to-rem(240);
$grid-width-360: px-to-rem(360);
$grid-width-400: px-to-rem(400);
$grid-width-600: px-to-rem(600);
$grid-width-900: px-to-rem(900);
$grid-width-1008: px-to-rem(1008);
$grid-width-1280: px-to-rem(1280);

