// SCSS variables for palette, matching all exports from palette.ts
$archive-blue: #3A549C;
$black: #000000;
$bluejay: #0F556C;
$bluejay-lht: #C3DEE7;
$chalk: #ECEAE7;
$cloud-dark: #757575;
$cloud-light: #BABABA;
$consent-action: #F6A21D;
$consent-background: #323232;
$consent-content: #BEBEBE;
$consent-focus: #68A1F8;
$dark-saltire: #23104C;
$dim-grey: #696969;
$ebon: #222222;
$error-core: #E51854;
$ghost: #FDFDFD;
$grey-10: #141414;
$grey-11: #BABABA;
$grey-1: #FEFEFE;
$grey-2: #F6F6F6;
$grey-3: #E6E8EA;
$grey-4: #B0B2B4;
$grey-5: #8A8C8E;
$grey-6: #545658;
$grey-7: #3A3C3E;
$grey-8: #202224;
$kingfisher: #11708C;
$le-teal: #09838B;
$live-light: #00CCC7;
$live-medium: #008282;
$live-dark: #006666;
$live-core: #009E9E;
$lunar: #F2F2F2;
$lunar-light: #F8F8F8;
$metal: #6E6E73;
$midnight-black: #121212;
$newsround-purple: #6C22D6;
$newsround-purple-30: #9159A8;
$oat-lht: #F5F3F1;
$orbit-grey: #4C4C4C;
$pebble: #AEAEB5;
$philippine-grey: #8A8C8E;
$postbox: #B80000;
$postbox-30: #EAB3B3;
$rhino: #5A5A5A;
$service-neutral-core: #0071F1;
$service-neutral-dark: #0051AD;
$shadow: #3F3F42;
$sport-mist: #F7F7F5;
$sport-silver: #DBDBDB;
$sport-yellow: #FFD230;
$sport-yellow-30: #BB9A31;
$stone: #D5D0CD;
$storm: #404040;
$success-core: #148A00;
$weather-blue: #067EB3;
$white: #FFFFFF;
