// SCSS variables for palette, matching all exports from palette.ts
:root {
  --archive-blue: #3a549c;
  --black: #000000;
  --bluejay: #0f556c;
  --bluejay-lht: #c3dee7;
  --chalk: #eceae7;
  --cloud-dark: #757575;
  --cloud-light: #bababa;
  --consent-action: #f6a21d;
  --consent-background: #323232;
  --consent-content: #bebebe;
  --consent-focus: #68a1f8;
  --dark-saltire: #23104c;
  --dim-grey: #696969;
  --ebon: #222222;
  --error-core: #e51854;
  --ghost: #fdfdfd;
  --grey-10: #141414;
  --grey-11: #bababa;
  --grey-1: #fefefe;
  --grey-2: #f6f6f6;
  --grey-3: #e6e8ea;
  --grey-4: #b0b2b4;
  --grey-5: #8a8c8e;
  --grey-6: #545658;
  --grey-7: #3a3c3e;
  --grey-8: #202224;
  --kingfisher: #11708c;
  --le-teal: #09838b;
  --live-light: #00ccc7;
  --live-medium: #008282;
  --live-dark: #006666;
  --live-core: #009e9e;
  --lunar: #f2f2f2;
  --lunar-light: #f8f8f8;
  --metal: #6e6e73;
  --midnight-black: #121212;
  --newsround-purple: #6c22d6;
  --newsround-purple-30: #9159a8;
  --oat-lht: #f5f3f1;
  --orbit-grey: #4c4c4c;
  --pebble: #aeaeb5;
  --philippine-grey: #8a8c8e;
  --postbox: #b80000;
  --postbox-30: #eab3b3;
  --rhino: #5a5a5a;
  --service-neutral-core: #0071f1;
  --service-neutral-dark: #0051ad;
  --shadow: #3f3f42;
  --sport-mist: #f7f7f5;
  --sport-silver: #dbdbdb;
  --sport-yellow: #ffd230;
  --sport-yellow-30: #bb9a31;
  --stone: #d5d0cd;
  --storm: #404040;
  --success-core: #148a00;
  --weather-blue: #067eb3;
  --white: #ffffff;
}
