@use './fontMediaQueries.scss' as fontMediaQueries;
@use './fontSizes.scss' as fontSizes;
@use './fontVariants.scss' as fontVariants;

@mixin from-scale-and-variant($scale, $variant) {
  @include fontVariants.gel-font-variant($variant);
  @include fontSizes.gel-font-size($scale);
}

@mixin from-custom-properties {
  font-family: var(--gel-font-family, inherit);
  font-style: var(--gel-font-style, inherit);
  font-weight: var(--gel-font-weight, inherit);
  font-size: var(--gel-font-size-group-a, inherit);
  line-height: var(--gel-line-height-group-a, inherit);

  @media #{fontMediaQueries.$group-b-only} {
    font-size: var(--gel-font-size-group-b, inherit);
    line-height: var(--gel-line-height-group-b, inherit);
  }

  @media #{fontMediaQueries.$group-d-min-width} {
    font-size: var(--gel-font-size-group-d, inherit);
    line-height: var(--gel-line-height-group-d, inherit);
  }
}
