{
  "presets": [["next/babel"]],
  "plugins": [
    "@babel/plugin-proposal-export-default-from",
    [
      "transform-rename-import",
      { "original": "@loadable/component", "replacement": "next/dynamic" }
    ]
  ]
}
