@use '@scss/themeTokens' as theme;

$election-banner-iframe-height-mobile: 315;
$election-banner-iframe-height-tablet: 320;
$election-banner-iframe-height-desktop: 0;

$ap-election-banner-iframe-height-mobile: 340;
$ap-election-banner-iframe-height-desktop: 216;

.title {
  @include theme.typography-from-scale-and-variant(canon, 'sans-bold');
  display: block;
  width: 100%;
  color: #{theme.$palette-white};
  padding-bottom: #{theme.$spacings-double};
}

.electionBannerWrapper {
  padding: #{theme.$spacings-full} 0;
}

.electionBannerContent {
  padding: #{theme.$spacings-double};
  background: linear-gradient(180deg, #2d0059 0%, #230046 50%, #000000 100%);
}

.electionBannerIframe {
  width: 100%;
  height: #{theme.pixelsToRem-px-to-rem($election-banner-iframe-height-mobile)};
  border: none;

  @media #{theme.$mediaQueries-group-3-min-width} {
    height: #{theme.pixelsToRem-px-to-rem(
        $election-banner-iframe-height-tablet
      )};
  }

  @media #{theme.$mediaQueries-group-4-min-width} {
    height: #{theme.pixelsToRem-px-to-rem(
        $election-banner-iframe-height-desktop
      )};
  }
}

.electionBannerWrapperAmp,
.assocPressElectionBannerWrapperAmp {
  overflow: hidden;
  margin-bottom: #{theme.$spacings-full};

  & amp-img {
    margin: 0 auto;
    max-width: 640px;
  }

  & amp-iframe {
    width: 100%;
    border: none;
  }
}

.electionBannerWrapperAmp {
  & amp-iframe {
    height: #{theme.pixelsToRem-px-to-rem(
        $election-banner-iframe-height-mobile
      )};

    @media #{theme.$mediaQueries-group-3-min-width} {
      height: #{theme.pixelsToRem-px-to-rem(
          $election-banner-iframe-height-tablet
        )};
    }

    @media #{theme.$mediaQueries-group-4-min-width} {
      height: #{theme.pixelsToRem-px-to-rem(
          $election-banner-iframe-height-desktop
        )};
    }
  }
}

.assocPressElectionBannerWrapper,
.assocPressElectionBannerWrapperAmp {
  max-width: #{theme.pixelsToRem-px-to-rem(1008)};
  margin: 0 auto;
  border-bottom: solid #{theme.pixelsToRem-px-to-rem(1)} transparent;

  @media #{theme.$mediaQueries-group-4-min-width} {
    padding: #{theme.$spacings-double} #{theme.$spacings-double} 0;
  }
}

.assocPressElectionBannerIframe {
  display: block;
  max-width: #{theme.pixelsToRem-px-to-rem(1008)};
  height: #{theme.pixelsToRem-px-to-rem(
      $ap-election-banner-iframe-height-mobile
    )};
  margin: 0 auto;
  border: none;

  @media #{theme.$mediaQueries-group-3-min-width} {
    height: #{theme.pixelsToRem-px-to-rem(
        $ap-election-banner-iframe-height-desktop
      )};
  }
}

.assocPressElectionBannerWrapperAmp {
  & amp-iframe {
    display: block;
    max-width: #{theme.pixelsToRem-px-to-rem(1008)};
    margin: 0 auto;
  }
}
