@use '@scss/themeTokens' as theme;

.title {
  @include theme.typography-from-scale-and-variant(doublePica, 'sans-bold');
  display: block;
  width: 100%;
  margin: 0 0 #{theme.$spacings-double};
  padding-bottom: #{theme.$spacings-full};
  color: #{theme.$palette-white};
  border-bottom: #{theme.pixelsToRem-px-to-rem(2)} solid #{theme.$palette-white};
}

.electionBannerWrapper {
  padding: #{theme.$spacings-full} 0;
}

.electionBannerContent {
  padding: #{theme.$spacings-double};
  background: linear-gradient(180deg, #2d0059 0%, #230046 50%, #000000 100%);
}

.electionBannerIframe {
  width: 100%;
  height: #{theme.pixelsToRem-px-to-rem(315)};
  border: none;

  @media #{theme.$mediaQueries-group-3-min-width} {
    height: #{theme.pixelsToRem-px-to-rem(320)};
  }

  @media #{theme.$mediaQueries-group-4-min-width} {
    height: #{theme.pixelsToRem-px-to-rem(350)};
  }
}

.electionBannerWrapperAmp,
.assocPressElectionBannerWrapperAmp {
  overflow: hidden;
  margin-bottom: #{theme.$spacings-full};

  & amp-img {
    margin: 0 auto;
    max-width: 640px;
  }

  & amp-iframe {
    width: 100%;
    border: none;
  }
}

.electionBannerWrapperAmp {
  & amp-iframe {
    height: #{theme.pixelsToRem-px-to-rem(315)};

    @media #{theme.$mediaQueries-group-3-min-width} {
      height: #{theme.pixelsToRem-px-to-rem(320)};
    }

    @media #{theme.$mediaQueries-group-4-min-width} {
      height: #{theme.pixelsToRem-px-to-rem(350)};
    }
  }
}

.assocPressElectionBannerWrapper,
.assocPressElectionBannerWrapperAmp {
  max-width: #{theme.pixelsToRem-px-to-rem(1008)};
  margin: 0 auto;
  padding: #{theme.$spacings-double} #{theme.$spacings-double} 0;
  border-bottom: solid #{theme.pixelsToRem-px-to-rem(1)} transparent;

  .title {
    max-width: #{theme.pixelsToRem-px-to-rem(1008)};
    margin-inline: auto;
  }
}

.assocPressElectionBannerIframe {
  display: block;
  max-width: #{theme.pixelsToRem-px-to-rem(1008)};
  height: #{theme.pixelsToRem-px-to-rem(340)};
  margin: 0 auto;
  border: none;

  @media #{theme.$mediaQueries-group-3-min-width} {
    height: #{theme.pixelsToRem-px-to-rem(216)};
  }
}

.assocPressElectionBannerWrapperAmp {
  & amp-iframe {
    display: block;
    max-width: #{theme.pixelsToRem-px-to-rem(1008)};
    margin: 0 auto;
  }
}
