@use 'ThemeProviderSCSSModules/themeTokens.scss' as theme;

.promo {
  & ul {
    list-style: none;
    padding-inline-start: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: #{theme.$spacings-full};
    width: 100%;
  }

  // Opera Mini overrides
  :global(.is-opera-mini) & {
    list-style: none;
    padding-inline-start: 0;
    margin: 0;
  }
}

.list {
  display: flex;
  flex-shrink: 0;
  margin-inline: #{theme.$spacings-full};

  &:last-of-type {
    margin-bottom: #{theme.$spacings-triple};
  }

  @media #{theme.$mediaQueries-forced-colours} {
    border: solid #{theme.pixelsToRem-px-to-rem(3)} transparent;
  }

  @media (min-width: #{theme.$mediaQueries-group-2-min-width-bp}) {
    margin-inline: #{theme.$spacings-double};
  }

  @media (min-width: #{theme.$mediaQueries-group-3-min-width-bp}) {
    margin-inline: #{theme.$spacings-double};
  }

  @media (min-width: #{theme.$mediaQueries-group-4-min-width-bp}) {
    margin-inline: 0;
  }

  // Opera Mini overrides
  :global(.is-opera-mini) & {
    @media (max-width: #{theme.$mediaQueries-group-0-max-width-bp}) {
      margin-inline: #{theme.$spacings-full};
    }

    @media (min-width: #{theme.$mediaQueries-group-2-min-width-bp}) {
      margin-inline: #{theme.$spacings-double};
    }

    @media (min-width: #{theme.$mediaQueries-group-4-min-width-bp}) {
      margin-inline: 0;
    }
  }
}
