@use '@scss/themeTokens' as theme;

.self {
  color: theme.$palette-ebon;
  border-bottom: #{theme.pixelsToRem-px-to-rem(1)} solid theme.$palette-postbox;
  text-decoration: none;

  &:visited {
    color: theme.$palette-metal;
    border-bottom: #{theme.pixelsToRem-px-to-rem(1)} solid theme.$palette-metal;
  }

  &:focus,
  &:hover {
    border-bottom: #{theme.pixelsToRem-px-to-rem(2)} solid theme.$palette-postbox;
    color: theme.$palette-postbox;
  }

  &[data-font-size='atlas'] {
    @include theme.fontSizes-gel-font-size(atlas);
  }

  &[data-font-size='elephant'] {
    @include theme.fontSizes-gel-font-size(elephant);
  }

  &[data-font-size='imperial'] {
    @include theme.fontSizes-gel-font-size(imperial);
  }

  &[data-font-size='royal'] {
    @include theme.fontSizes-gel-font-size(royal);
  }

  &[data-font-size='foolscap'] {
    @include theme.fontSizes-gel-font-size(foolscap);
  }

  &[data-font-size='canon'] {
    @include theme.fontSizes-gel-font-size(canon);
  }

  &[data-font-size='trafalgar'] {
    @include theme.fontSizes-gel-font-size(trafalgar);
  }

  &[data-font-size='paragon'] {
    @include theme.fontSizes-gel-font-size(paragon);
  }

  &[data-font-size='doublePica'] {
    @include theme.fontSizes-gel-font-size(doublePica);
  }

  &[data-font-size='greatPrimer'] {
    @include theme.fontSizes-gel-font-size(greatPrimer);
  }

  &[data-font-size='bodyCopy'] {
    @include theme.fontSizes-gel-font-size(bodyCopy);
  }

  &[data-font-size='pica'] {
    @include theme.fontSizes-gel-font-size(pica);
  }

  &[data-font-size='longPrimer'] {
    @include theme.fontSizes-gel-font-size(longPrimer);
  }

  &[data-font-size='brevier'] {
    @include theme.fontSizes-gel-font-size(brevier);
  }

  &[data-font-size='minion'] {
    @include theme.fontSizes-gel-font-size(minion);
  }

  &[data-font-variant='sansRegular'] {
    @include theme.fontVariants-gel-font-variant('sans-regular');
  }

  &[data-font-variant='sansRegularItalic'] {
    @include theme.fontVariants-gel-font-variant('sans-regular-italic');
  }

  &[data-font-variant='sansBold'] {
    @include theme.fontVariants-gel-font-variant('sans-bold');
  }

  &[data-font-variant='sansBoldItalic'] {
    @include theme.fontVariants-gel-font-variant('sans-bold-italic');
  }

  &[data-font-variant='sansLight'] {
    @include theme.fontVariants-gel-font-variant('sans-light');
  }

  &[data-font-variant='serifRegular'] {
    @include theme.fontVariants-gel-font-variant('serif-regular');
  }

  &[data-font-variant='serifMedium'] {
    @include theme.fontVariants-gel-font-variant('serif-medium');
  }

  &[data-font-variant='serifMediumItalic'] {
    @include theme.fontVariants-gel-font-variant('serif-medium-italic');
  }

  &[data-font-variant='serifBold'] {
    @include theme.fontVariants-gel-font-variant('serif-bold');
  }

  &[data-font-variant='serifLight'] {
    @include theme.fontVariants-gel-font-variant('serif-light');
  }
}
