name: Simorgh CI - AMP Validation, bbc-a11y, Lighthouse & Puppeteer Tests
on:
  create:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'
  push:
    branches:
      - latest
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]
    env:
      CI: true
      LOG_LEVEL: 'error'

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Cache Node Modules
        id: cache
        uses: actions/cache@v2
        with:
          path: node_modules
          key: node-modules-${{ hashFiles('yarn.lock') }}

      - name: Install Node Modules
        if: steps.cache.outputs.cache-hit != 'true'
        run: yarn install --frozen-lockfile

      - name: Build Simorgh
        run: yarn run build:local

      - name: Start Simorgh Server
        run: nohup node build/server.js > /dev/null 2>&1 &

      - name: Run AMP Validator
        run: yarn run amp:validate

      - name: Run bbc-a11y
        run: yarn run bbcA11y:ci

      - name: Run Lighthouse
        run: yarn run lighthouse

      - name: Run Puppeteer Tests
        run: |
          yarn add puppeteer
          yarn run test:puppeteer
          yarn remove puppeteer
