name: Simorgh CI - Licences, Dependencies, Lint, Chromatic UI, NPM Audit
on:
  create:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'
  push:
    branches:
      - latest
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
    env:
      CI: true

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: '0'

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Cache Node Modules
        id: cache
        uses: actions/cache@v3
        with:
          path: node_modules
          key: node-modules-${{ hashFiles('yarn.lock') }}

      - name: Install Node Modules
        if: steps.cache.outputs.cache-hit != 'true'
        run: ./scripts/installNodeModules.sh

      - name: Chromatic UI Tests
        uses: chromaui/action@v1
        if: github.ref != 'refs/heads/latest' && github.event.pull_request.head.repo.full_name == 'bbc/simorgh' # Only run when not on latest or not a fork.
        with:
          token: ${{ secrets.SIMORGH_DEV_STORYBOOK_RELEASE }}
          projectToken: ${{ secrets.CHROMATIC_APP_CODE }}
          buildScriptName: 'build:storybook'
          exitOnceUploaded: true

      - name: Chromatic UI Tests - Latest
        uses: chromaui/action@v1
        if: github.ref == 'refs/heads/latest' # Only run on latest branch
        with:
          token: ${{ secrets.SIMORGH_DEV_STORYBOOK_RELEASE }}
          projectToken: ${{ secrets.CHROMATIC_APP_CODE }}
          buildScriptName: 'build:storybook'
          exitOnceUploaded: true
          autoAcceptChanges: true # Auto accept changes to accept a new baseline when merging to latest

      - name: Duplicate Dependency Checker
        run: yarn test:dependencies

      - name: Linting
        run: yarn test:lint

      - name: NPM Audit
        run: npx audit-ci --config audit-ci.json
