name: Simorgh CI - Licences, Dependencies, Lint, Chromatic UI, NPM Audit
on:
  create:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'
  push:
    branches:
      - latest
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]
    env:
      CI: true
      CHROMATIC_APP_CODE: ${{ secrets.CHROMATIC_APP_CODE }}

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install Node Modules
        run: npm ci

      - name: Chromatic UI Tests
        if: ${{ github.event.pull_request.head.repo.full_name == 'bbc/simorgh' }}
        run: npx chromatic test run --build-script-name build:storybook --exit-once-uploaded --no-interactive --project-token "$CHROMATIC_APP_CODE"

      - name: Apache License Checker
        run: npx apache2-license-checker

      - name: Duplicate Dependency Checker
        run: npm run test:dependencies

      - name: Linting
        run: npm run test:lint

      - name: NPM Audit
        run: npx audit-ci --config audit-ci.json
