name: Simorgh CI - Cypress E2E Tests
on:
  create:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'
  push:
    branches:
      - latest
permissions:
  contents: read

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
    env:
      CI: true
      LOG_LEVEL: 'error'
      CYPRESS_SKIP_EU: true
      CYPRESS_SMOKE: true
      CYPRESS_APP_ENV: 'local'

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Run Simorgh E2Es
        uses: cypress-io/github-action@v3
        with:
          config-file: cypress-simorgh.json
          build: yarn build
          start: yarn start

      - name: Run Simorgh NextJS E2Es
        uses: cypress-io/github-action@v5.8.1
        with:
          working-directory: ws-nextjs-app
          build: yarn build
          start: yarn start
