@use '@scss/themeTokens' as theme;

.link {
  @include theme.fontSizes-gel-font-size(pica);
  @include theme.fontVariants-gel-font-variant('serif-bold');
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  overflow-x: hidden;
  overflow-y: hidden;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  color: theme.$palette-grey-8;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:visited {
    color: theme.$palette-grey-6;
  }

  &::before {
    bottom: 0;
    content: '';
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }

  // Dark UI override
  :global([data-is-dark-ui='true']) & {
    color: theme.$palette-grey-2;
  }
}

.promoBox {
  position: relative;
  background-color: theme.$palette-white;
  padding: #{theme.$spacings-double};
  padding-inline-end: #{theme.pixelsToRem-px-to-rem(38)};
  height: auto;
  display: block;
  width: 100%;

  // Dark UI override
  :global([data-is-dark-ui='true']) & {
    background-color: theme.$palette-grey-7;
  }

  // Opera Mini overrides
  :global(.is-opera-mini) & {
    position: relative;
    background-color: theme.$palette-white;
    padding: #{theme.$spacings-double};
    margin-bottom: #{theme.$spacings-double};
    width: calc(100% - #{theme.$spacings-full});

    :global([data-is-dark-ui='true']) & {
      background-color: theme.$palette-grey-3;
    }

    @media (min-width: #{theme.$mediaQueries-group-2-min-width-bp}) {
      width: calc(50% - #{theme.$spacings-double});
    }
  }
}

.timestamp {
  margin-top: #{theme.$spacings-full};

  // Dark UI override
  :global([data-is-dark-ui='true']) & {
    color: theme.$palette-grey-1;
  }
}

.chevron {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  inset-inline-end: #{theme.pixelsToRem-px-to-rem(12)};
  fill: currentColor;
}
